body {
  text-rendering: optimizeLegibility;
}

body.dragged {
  user-select: none;
}

sup {
  margin: 0 0.2em;
}

sup a.footnote-ref {
  text-decoration: none;
  font-weight: bold;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.8rem;
  background: var(--xstyled-colors-background-light);
  color: var(--xstyled-colors-on-background-light);
  text-align: center;
}

a {
  color: var(--xstyled-colors-on-background-primary, #4c51bf);
}

footer a {
  color: inherit;
}

hr {
  border: none;
  border-top: solid 1px var(--xstyled-colors-editor-border);
}

.footnotes {
  margin-top: 56px;
}

.footnotes li {
  font-size: 0.8em;
}

a.footnote-backref {
  position: relative;
  margin-left: 0.2em;
  top: 2px;
  text-decoration: none !important;
}

p code {
  /* background-color: var(--xstyled-colors-on-background-light) !important;
  color: var(--xstyled-colors-background-light) !important;
  mix-blend-mode: difference; */
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 0em 0.3em !important;
  font-size: 15px !important;
  border-radius: 3px !important;
  font-feature-settings: 'clig' 0, 'calt' 0;
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
}

table a > code,
p a > code {
  font-weight: bold;
}

table a > code:after,
p a > code:after {
  content: '→';
  margin-left: 0.3em;
}

blockquote p {
  font-size: 14px;
}

blockquote p code {
  top: 0;
  padding: 0 !important;
  font-size: inherit !important;
}

table + h2,
table + h1 {
  border: none !important;
}

details {
  margin-bottom: 10px;
}

summary {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}

details > pre {
  background-color: var(--xstyled-colors-editor-background, rgb(1, 22, 39));
  color: var(--xstyled-colors-editor-on, #f7fafc);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  overflow: auto;
  margin: 16px -16px;
}

p strong {
  font-weight: 600 !important;
}

@media (min-width: 576px) {
  details > pre {
    border-radius: 4px;
    margin: 16px -8px;
  }
}
