{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": ">1%, not dead, not ie 11, not op_mini all"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs", "@babel/plugin-transform-runtime"]
    }
  }
}
