.canvas {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}
.canvas > canvas {
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}

.three {
  background-color: #272727;
  height: 400px;
}
