.boundaries > .drag {
  width: 80px;
  height: 80px;
  background: hotpink;
  border-radius: 16px;
  touch-action: none;
}

.boundaries .drag > div {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: #91c9f97a;
}

.boundaries .drag > div > div {
  background: #fff;
  padding: 0.4em;
  position: absolute;
  top: -10px;
  right: -5px;
  transform: translate(100%, 0);
  font-family: monospace;
  font-size: 0.7em;
}
