.drag {
  position: relative;
  width: 300px;
  height: 300px;
  background: purple;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  will-change: transform;
  border: 10px solid white;
  cursor: grab;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag > div {
  height: 80px;
  width: 80px;
  background: peru;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
