.drag {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #ec625c;
  cursor: grab;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  display: grid;
  padding: 60px;
  grid-gap: 10px;
}

.drag > div {
  flex: 1;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
