* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
}

html,
body,
:global(#root),
:global(#root) > div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.list {
=======
.container {
>>>>>>> pr/164
  padding: 40px 25px;
}

.backBtn {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1000;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 0.9em;
  text-decoration: none;
}

.list li {
  margin: 10px 0;
  text-transform: capitalize;
}

:global(.flex) {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD
=======

a[target] {
  font-size: 0.8em;
  margin-left: 1em;
  display: inline-block;
  text-decoration: none;
}
>>>>>>> pr/164
