.header {
  position: relative;
  height: 40vh;
  background-color: #86b4ff1a;
  z-index: 1;
}
.wrapper,
.bg {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 720px;
}

.bg {
  position: absolute;
  opacity: 0.02;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20vw;
  white-space: nowrap;
  overflow: hidden;
}

.bounds {
  position: absolute;
  border: 2px solid slateblue;
}

.drag {
  width: 240px;
  height: 180px;
  background: url('https://mixkit.imgix.net/art/preview/mixkit-woman-with-a-handbag-walking-her-small-dog-207-original-large.png?q=80&auto=format%2Ccompress&h=200&q=50&dpr=2')
    center / cover;
  border-radius: 8px;
  touch-action: none;
  user-select: none;
  position: absolute;
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.1);
  transition: box-shadow 200ms ease-out;
  overflow: hidden;
  cursor: grab;
}

.drag.shadow {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.2), 0 16px 40px rgba(14, 21, 47, 0.1);
}

.drag > div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.drag > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-shadow: 0 0px 20px rgba(14, 21, 47, 0.2);
  transition: text-shadow 200ms ease;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.95);
}

.drag.shadow > div:last-child {
  text-shadow: 0 0px 100px rgba(14, 21, 47, 0.6);
}

.gui {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 840px) {
  .gui {
    display: none;
  }
}
