html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.drag {
  height: 80px;
  width: 80px;
  background-color: hotpink;
  cursor: grab;
  border-radius: 8px;
  touch-action: none;
  z-index: 10;
  position: relative;
  margin: 10px;
  user-select: none;
}

.large {
  height: 200px;
  width: 200px;
}

.blue {
  background-color: royalblue;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
