.drag {
  background: lightblue;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  touch-action: none;
}

.drag button {
  width: 100%;
  height: 100%;
}
