.container {
  flex-direction: column;
  font-size: 20px;
  background-color: antiquewhite;
}

.container a {
  color: palevioletred;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  font-weight: bold;
}

.container > div {
  top: 0;
  left: 0;
  position: fixed;
  width: 180px;
  height: 120px;
  pointer-events: none;
  transform-origin: top left;
}
